{:deps
 {io.github.yosevu/substantial {:git/tag "v0.0.1" :git/sha "bc0858c"}}

 :aliases
 {:create
  {:exec-fn substantial.core/create}
  :build
  {:exec-fn substantial.core/build}
  :publish
  {:exec-fn substantial.scripts/publish}}}
