{:deps
 {io.github.yosevu/substantial {:git/tag "v0.0.3" :git/sha "3ba0d52"}}

 :aliases
 {:create
  {:exec-fn substantial.core/create}
  :build
  {:exec-fn substantial.core/build}
  :publish
  {:exec-fn substantial.scripts/publish}}}
