{:deps
 {io.github.yosevu/substantial {:git/tag "v0.0.2" :git/sha "63cd9d7"}}

 :aliases
 {:create
  {:exec-fn substantial.core/create}
  :build
  {:exec-fn substantial.core/build}
  :publish
  {:exec-fn substantial.scripts/publish}}}
