/* substantial's default stylesheet is a modified version of Firn 0.0.14 firn_base.css stylesheet.
 * https://github.com/theiceshelf/firn/blob/8ae4ecff518f62b1c7804fb03651fe1c91cece09/clojure/resources/firn/_firn_starter/static/css/firn_base.css
 */

/* Base */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Light Mode Variables */
:root {
  --border-radius: 4px;
  --box-shadow: 2px 2px 10px;
  --color-primary: #0366d6;
  --color-primary-accent: #3498db14;
  --color-bg: #fff;
  --color-bg-secondary: #e9e9e9;
  --color-secondary: #222;
  --color-secondary-accent: #222;
  --color-shadow: #f4f4f4;
  --color-text: #444;
  --color-text-secondary: #999;
  --font-family: "Arial", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  --hover-brightness: 1.2;
  --justify-important: center;
  --justify-normal: left;
  --line-height: 1.65;
  --width-card-wide: 800px;
  /* --width-content: 48rem; */
  --width-content: 70rem;

  /* Currently, Firn only supports 'todo | done' keywords. */
  --keyword-active: #2ecc71; /* For "active" Todo keywords. */
  --keyword-done: #bdc3c7; /* For "done type keywords" */
  --keyword-size: xx-small;

  /* Headline priorities ([#A] [#B] etc) */
  --priority-a-bg: #c0392b;
  --priority-b-bg: #3498db;
  --priority-c-bg: #2ecc71;
  --priority-size: xx-small;

  /* Headline Tags (:my-tag: :unfinished: etc)*/
  --tag-size: small;
  --tag-bg: #ecf0f1;
  /* --tag-bg: #eef; */
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-primary: #add8e6;
    --color-primary-accent: #555;
    --color-bg: #333;
    --color-bg-secondary: #555;
    --color-shadow: #bbbbbb20;
    --color-secondary: #efefef;
    --color-secondary-accent: #efefef;
    --color-text: #f7f7f7;
    --color-text-secondary: #aaa;
    --tag-bg: #555;
  }
}

body {
  background: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-family);
  line-height: var(--line-height);
  font-size: 16px;
  margin: 0;
  overflow-x: hidden;
}

.container {
  max-width: var(--width-content);
  margin: auto;
}

nav, article, aside {
  padding: 1rem;
}

nav, article {
  margin: 1rem;
  max-width: 25rem;
}

aside {
  max-width: 20rem;
  margin: 2rem;
  background-color: var(--tag-bg);
  border-radius: var(--border-radius);
}

code,
samp {
  background-color: var(--color-primary-accent);
  border-radius: var(--border-radius);
  color: var(--color-text);
  display: inline-block;
  margin: 0 0.1rem;
  padding: 0 0.5rem;
  font-size: 0.85em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: var(--line-height);
  margin: 0;
}

h2 {
  font-size: 1.25em
}

mark {
  padding: 0.1rem;
}

ol,
ul {
  margin: 0.125rem 0;
  padding-left: 1.25rem;
}

ol li,
ul li {
  padding: 0.125rem 0;
}

p {
  margin: 1rem 0;
  padding: 0;
}

pre {
  margin: 1rem 0;
  padding: 1rem 0;
}

pre code,
pre samp {
  display: block;
  padding: 0.5rem 1rem;
  overflow-x: auto;
}

small {
  color: var(--color-text-secondary);
}

sup {
  background-color: var(--color-primary);
  border-radius: var(--border-radius);
  color: var(--color-bg);
  font-size: xx-small;
  margin: 0.2rem;
  padding: 0.2rem 0.3rem;
  position: relative;
  top: -2px;
}

a {
  color: var(--color-primary);
  text-decoration: underline;
}

a:hover {
  /* filter: brightness(var(--hover-brightness)); */
  text-decoration: none;
}

figure {
  margin: 0;
  padding: 0;
}

figure img {
  max-width: 100%;
}

figure figcaption {
  color: var(--color-text-secondary);
}

table {
  border: 1px solid var(--color-bg-secondary);
  border-radius: var(--border-radius);
  border-spacing: 0;
  display: inline-block;
  max-width: 100%;
  overflow-x: auto;
  padding: 0;
  white-space: nowrap;
}

table td,
table th,
table tr {
  padding: 0.4rem 0.8rem;
  font-size: 0.9em;
}

table tr:first-child {
  background-color: var(--color-primary);
  border-collapse: collapse;
  border-radius: var(--border-radius);
  color: var(--color-bg);
  margin: 0;
  padding: 0;
}

table thead th:first-child {
  border-top-left-radius: var(--border-radius);
}

table thead th:last-child {
  border-top-right-radius: var(--border-radius);
}

table thead th:first-child,
table tr td:first-child {
  text-align: var(--justify-normal);
}

table tr:nth-child(even) {
  background-color: var(--color-primary-accent);
}

blockquote {
  display: block;
  font-size: large;
  font-style: italic;
  line-height: var(--line-height);
  padding: 1.5rem 0;
  background: var(--color-primary-accent);
}

blockquote footer {
  color: var(--color-text-secondary);
  display: block;
  font-size: small;
  line-height: var(--line-height);
  padding: 1.5rem 0;
}

li > p {
  margin: 0;
  padding: 0;
}

img {
  max-width: 20rem;
}

@media screen and (min-width: 917px) {
  main {
    display: flex;
    align-items: flex-start;
  }

  nav, article, aside {
    width: 100%;
  }

  aside {
    min-width: 15rem;
  }
}

@media screen and (min-width: 560px) {
  nav, article {
    max-width: 40rem;
  }

  img {
    max-width: 40rem;
  }
}

/* Custom Classes */

.item-container {
  display: flex;
  justify-content: space-between;
}
