{:deps
 {io.github.yosevu/substantial {:git/sha "6b629b868c764c0cd4fc23a0133cd62de881a229"}}

 :aliases
 {:create
  {:exec-fn substantial.core/create}
  :build
  {:exec-fn substantial.core/build}
   ;; :exec-args}
  :publish
  {:exec-fn substantial.core/publish}}}
